<!DOCTYPE html>
<link rel = "stylesheet" href = "style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<html>
  <meta charset="UTF-8">
<style>

  input:-ms-input-placeholder {color:#a8a8a8;}
input::-webkit-input-placeholder {color:#a8a8a8;}
input:-moz-placeholder {color:#a8a8a8;}


#mainimg{
position : relative;
    display: block;
    margin-left : 33%;
    margin-top: 100px;
top : 10%;
width: 30%;
height: 30%;
display: block;
padding: 10px;
}

p{
display: block;
width:50%;
position:relative;
left : 25%;
font-size: 50px;
text-align : center;
font-family: cursive;
    font-family : noto sans;
}


</style>


<body>
    <form action = "http://localhost:80/website" >
        <button style = 'background-color : white; outline : 0; border : 0;' type = "submit" id = 'mainimg'><img src="./logo.png"></button>
        <p>통일 관련 논문 검색 엔진</p>
    </form>
</body>
</html>